#getDetailsDiv {
  min-height: 100vh;
}

body {
  background-color: #F4C2C2;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

#localVideo {
  position: absolute;
  z-index: 1;
  width: 25%;
  right: 8%;
  top: 3%;
  -webkit-box-shadow: 6px 6px 23px 3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 6px 6px 23px 3px rgba(0, 0, 0, 0.41);
  box-shadow: 6px 6px 23px 3px rgba(0, 0, 0, 0.41);
}

#remoteUserName{
  position: absolute;
  z-index: 2;
  color: white;
  top: 2%;
  left:6%;
  text-shadow:6px 6px 23px 3px rgba(0, 0, 0, 0.41) ;
}

#reactionArea{
  position: absolute;
  z-index: 5;
  right: 5%;
}
